@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cute+Font&family=Rowdies:wght@300;400;700&family=Silkscreen:wght@400;700&family=Syne:wght@400..800&display=swap");


body {
    margin: 0;
    padding: 0;
    background-color: #000000;
  
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}
.background-container iframe {
  width: 100%;
  height: 100%;
}



  .trending-nft {
    text-align: center;
    color: transparent; 
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(108,239,221,1) 27%, rgba(170,180,233,1) 37%, rgba(229,128,248,1) 68%, rgba(242,194,252,1) 87%, rgba(255,255,255,1) 99%);
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    font-size: 80px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
   
    margin-top: 40px;
  }

  @media only screen and (max-width: 768px) {
    .trending-nft{
     font-size: 45px;
    }
   }

  .text-panda{
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
   
  }
  .text-panda .buttons {
    list-style-type: none; /* Add this line to remove the dot */
  }

  .text-panda .buttons a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 15px 0;
    transition: 0.2s ease;
  }
  

  
  
  .text-panda .buttons .signup {
    border: 1px solid #fff;
    padding: 30px 70px;
    border-radius: 0.375rem;
    text-align: center;
    transition: 0.2s ease;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 0.8rem;
  }
  
  .text-panda .buttons .signup:hover {
    background-color: #ffffff;
    color: #000000;
  }

  @media only screen and (max-width: 768px) {
    .text-panda{}
   }


   .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }
  



  





