 /* Navbar */
 .header {
    
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Syne", sans-serif;
    
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
  }
  
  .navbar .logo a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    font-size: 20px;
  }
  
  .navbar .links a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    transition: 0.2s ease;
  }
  
  .navbar .links a:hover {
    color: #008a35;
  }
  
  .navbar .buttons a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 15px 0;
    transition: 0.2s ease;
  }
  
  .navbar .buttons a:not(:last-child) {
    margin-right: 30px;
  }
  
  
  .navbar .buttons .signup {
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 0.375rem;
    text-align: center;
    transition: 0.2s ease;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 0.8rem;
  }
  
  .navbar .buttons .signup:hover {
    background-color: #ffffff;
    color: #000000;
  }

 
  
  #logoimg{
    width: 80px;
  } 
  /* Hamburger menu styles */
  #menu-toggle {
    display: none;
  }
  
  #hamburger-btn {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    order: 1;
    
  }


  
  @media screen and (max-width: 1023px) {
    .header{
      position: fixed;
      background-color: #000000;
      z-index: 9999;
    }
    
    .navbar .logo a {
      font-size: 1.5rem;
    }
  
    .links {
      position: fixed;
      left: -120%;
      top: 75px;
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      background: #000000;
      flex-direction: column;
      transition: 0.3s ease;
    }

    .navbar .links {
         padding: 0px;
         padding-top: 30px;
         font-size: 30px;
       }
       
  
    .navbar #menu-toggle:checked ~ .links {
      left: 0;
    }
  
    .navbar #hamburger-btn {
      display: block;
    }
  
    .header .buttons {
      display: none;
    }
    #logoimg{
         width: 80px;
         padding-left: 30PX;
       } 

       #menu-toggle:checked ~ .links .buttons {
        display: block;
    }
    
  }

