.richtext-section {
    background-color: black;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
  }
  
  .richtext-container {
    width: 1300px;
    margin: 0 auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 20px;
    
  }
  
  .richtext-inner {
    text-align: center;
    padding: 60px 0; 
  }
  
  .heading {
    font-size: 90px;
    margin-bottom: 0px; 
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
  }
  
  .heading span {
    font-size: 38px;
  }
  
  .richtext-description {
    font-size: 18px;
    color: #8a8a8a;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5; 
    max-width: 600px;
    margin: 0 auto; 
    padding: 20px; 
  }


  @media only screen and (max-width: 600px) {

    .heading{
        font-size: 40px;
    }
    .richtext-container{
      width: 370px;
      height: 200px;
    }

    .richtext-description{
      font-size: 10px;
    }

    .richtext-section{
      height: 100px;
    }
  }