/*video trailer */

.video-trailer{
    margin-top: 10px;
  }
  
  .video-container {
    height: 100vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  video {
    max-width: 100%;
    max-height: 100%;
  }
  @media only screen and (max-width: 768px) {
    .video-trailer{
      margin: 0px;
      padding: 0px;
    }
  
    .video-container{
      height: 30vh;
    }
  }